#profileContentDiv {
    background-color: #ffff;
    border: 1px solid lightgrey;
    padding: 10px;
}

#profileDiv {
    border: 1px solid grey;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#profileImg {
    border-radius: 50%;
}

.info {
    margin: 1.25rem;
}


#reposDiv {
    background-color: #ffff;
    border: 1px solid lightgray;
    padding: 10px;
}

#searchUserDiv {
    display: flex;
    flex-direction: row;
    background-color: #ffff;
    border: 1px solid lightgrey;
    padding: 10px;
}

#searchMain {
    display: flex;
    flex-direction: row;
}

#todaySentenceDiv {
    margin-top: 60px;
    background-color: #ffff;
    border: 1px solid lightgrey;
    padding: 10px;
}