#githublogo {
    width: 60px;
    height: 60px;
}

#header {
    background-color: #c2c1c135;
    border: 1px solid lightgrey;
    padding: 10px;
}

.header-title {
    font-family: monospace;
}

#searchDiv {
    background-color: #ffff;
    border: 1px solid lightgrey;
    padding: 10px;
}